__pycache__/
# data
*.npy
*.csv
*.xlsx
*.xls
*.txt
*.json
# archives
*.zip
*.tar.gz
# weights
*.pth
*.pt
*.pkl
*.faiss
# outputs
mlruns/
results/
experiments/
*.txt
*.log
*.png
*.jpg
*.jpeg
# refrences
ressources/
*.pdf
*.webp
